@import "../../../../styles//colours.scss";

.activityItemWrap {
    display: flex;
    flex-direction: column;
    height: 165px;
    width: 100%;
    background-color: $white;
    justify-content: space-between;
    border-radius: 8px;
    margin-bottom: 8px;
    box-shadow: 0px 1px 3px -1px $black;

    .activityContent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 8px 8px 0px 0px;
        flex-grow: 1;
        background-repeat: no-repeat;
         background-image: 
            linear-gradient(to right, rgba($primaryDark, 0.4), rgba($primaryDark, 0.1)),
            linear-gradient(to right, $white, $white);
        background-position: 0 0, 50 0;
        background-size: 50px 100%, 100% 100%;

        .activityDescription {
            flex-grow: 1;
            font-size: 18px;
            margin: 24px;
            align-self: center;

            .activityDuration {
                margin-left: 4px;
                font-size: 14px;
            }
        }

    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $primary;
        color: $white;
        line-height: 24px;
        text-transform: lowercase;
        text-align: center;
        border-radius: 0px 0px 8px 8px;
        padding: 0 24px;

        time {
            display: flex;
            flex-direction: column;
            text-align: left;
            color: $white;
            border-radius: 8px;
            justify-content: space-around;

            .timeAgo {
                font-size: 16px;
            }

            .dateTime {
                font-size: 10px;
            }
        }

        p {
            cursor: pointer;
            padding: 8px 24px;
            align-self: center;

            &:hover {
                border-radius: 8px;
                background-color: $primaryDark;
            }
        }
    }
}
