$white: #FFF;
$black: #000;
$colourBlue: #00b8d1;
$colourBlueLight: #66d4e3;
$colourBlueDark: #009db2;
$colourRedLight: #fabfca;
$background: #F2F2F2;
$primary: $colourBlue;
$primaryDark: $colourBlueDark;
$primaryLight: $colourBlueLight;
$error: $colourRedLight;
$disabledBackground: #CCC;
$disabledColor: #666;


    // --colour-blue-light: #66d4e3;
    // --colour-blue: #00b8d1;
    // --colour-blue-dark: #009db2;
    // --colour-yellow-light: #ffd96d;
    // --colour-yellow: #ffc00b;
    // --colour-yellow-dark: #cc9a09;
    // --colour-navy-light: #668c98;
    // --colour-navy: #004053;
    // --colour-navy-dark: #001a21;
    // --colour-green-light: #aee8a6;
    // --colour-green: #83db77;
    // --colour-green-dark: #72bf68;
    // --colour-grey-light: #ebf7f9;
    // --colour-grey: #ceebef;
    // --colour-grey-dark: #b4dfe5;
    // --colour-red-light: #fabfca;
    // --colour-red: #f23e5f;
    // --colour-red-dark: #b5324e;

    // --blue: #007bff;
    // --indigo: #6610f2;
    // --purple: #6f42c1;
    // --pink: #e83e8c;
    // --red: #dc3545;
    // --orange: #fd7e14;
    // --yellow: #ffc107;
    // --green: #28a745;
    // --teal: #20c997;
    // --cyan: #17a2b8;
    // --white: #fff;
    // --gray: #6c757d;
    // --gray-dark: #343a40;
    // --primary: #007bff;
    // --secondary: #6c757d;
    // --success: #28a745;
    // --info: #17a2b8;
    // --warning: #ffc107;
    // --danger: #dc3545;
    // --light: #f8f9fa;
    // --dark: #343a40;